@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <span>Male</span>
    <input type="radio" onclick="f1()"/>
    <span>FemaleMale</span>
    <input type="radio" onclick="f2()"/>
</div>
<div>
    <input type="button" id="b1" value="table load by jquery" />
    <div id="tableshow"></div>
</div>