
@*---------------------child component----------------------*@

<h3 style="background-color:yellow;">MySecondComponent</h3>
<h5>This is @Title</h5>

@code {
    [Parameter]
    public string? Title { get; set; }
}
