@page "/mfc"

@*---------------------parent component----------------------*@

<div style="background-color:green;">
                                                                                                                                                                                              
    <h3>MyFirstComponent</h3>
    <MySecondComponent Title="Title from parent component"></MySecondComponent>

</div>

@code {

}
