@{
    ViewData["Title"] = "Home Page";
}
@Model List<string>


</string>
@section s1{
    <div>
        <h1 id="s1h1"></h1>
    </div>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section footer1{
    <div>
        <h1>This is index footer</h1>
    </div>
}

<table>
    @*@foreach(var s in Model)
    {
        <partial name="_PartialView1" model="s"/>
    }*@
</table>
