@{
    ViewData["Title"] = "Home Page";
}
@*@Model List<string>*@


</string>
@section s1{
    <div>
        <h1 id="s1h1"></h1>
    </div>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<partial name="_PartialView1" />
    
    <p>
    @ViewData["data in partial view"]
</p>
<p>
    @ViewBag.x
</p>
<p>
    @ViewBag.y
</p>


@section footer1{
    <div>
        <h1>This is index footer</h1>
    </div>
}



@*<div>
    This is weather<br />
    <vc:weather-summary></vc:weather-summary>
    This is weather after<br />

</div>*@

<div>
    <vc:weather-summary></vc:weather-summary>
</div>
<div>
    <vc:tax-summary tax-amount="20" tax-rate="45"></vc:tax-summary>
</div>

@*<div>
    This is tax<br />
    <vc:tax-summary></vc:tax-summary>
    This is tax after<br />

</div>*@

@*<table>
    ViewData["d1"]="view aadta 1"
    @foreach(var s in Model)
    {
        
</table>*@
